{% extends 'PyDucation/base.html' %}

{% block content %}
  <h1>Operadores Matemáticos</h1>
  <p>Estos son los diferentes operadores matemáticos disponibles:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Símbolo</th>
        <th>Descripción</th>
        <th>Ejemplo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for math_operator in math_operators %}
      <tr>
        <td>{{ math_operator.name }}</td>
        <td>{{ math_operator.symbol }}</td>
        <td>{{ math_operator.description }}</td>
        <td>{{ math_operator.example }}</td>
        <td>
          <a href="{% url 'math_operator_update' math_operator.pk %}" class="btn btn-primary btn-sm">Editar</a>
          <a href="{% url 'math_operator_delete' math_operator.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No math operators found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'math_operator_create' %}" class="btn btn-success">Agregar un Operador Matemáticos</a>
  <a href="{% url 'pyducation' %}" class="btn btn-secondary">Atrás</a>
{% endblock %}
