{% extends 'PyDucation/base.html' %}

{% block content %}

  <h1>¡Bienvenido a Pyducation, {{ user.username }}!</h1>
  <p>En Pyducation podrás aprender sobre los diferentes tipos de datos que existen en Python y sus operaciones básicas, así como interactuar con nuestro CRUD (Create, Read, Update, Delete) para poner en práctica tus conocimientos.</p>
  <p>Explora nuestros tutoriales y ejemplos de los diferentes tipos de datos en Python, como números, cadenas, listas, tuplas, diccionarios, entre otros. Si ya tienes un conocimiento básico sobre los tipos de datos, puedes avanzar a las operaciones matemáticas en Python, como suma, resta, multiplicación, división y más.</p>
  <p>Recuerda utilizar nuestro CRUD para practicar y aplicar tus conocimientos. Podrás crear, leer, actualizar y eliminar los diferentes tipos de datos que aprendas.</p>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Tipos de datos</h2>
          <p class="card-text">Aprende sobre los diferentes tipos de datos en Python y sus características.</p>
          <a href="{% url 'data_type_list' %}" class="btn btn-primary">Explorar</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Operadores matemáticos</h2>
          <p class="card-text">Descubre cómo realizar operaciones matemáticas en Python.</p>
          <a href="{% url 'math_operator_list' %}" class="btn btn-primary">Explorar</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}