{% extends 'PyDucation/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}">
{% endblock %}

{% block content %}
  <h1>Publicaciones</h1>
  <ul>
    {% for post in posts %}
      <li>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <p>{{ post.author.username }}, {{ post.created_at }}</p>
        {% if post.image %}
          <div class="post-image">
            <img src="{{ post.image.url }}" alt="imagen de publicación">
          </div>
        {% endif %}
        <br>
        <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Ver publicación</a>
        <hr>
      </li>
    {% empty %}
      <p>No hay publicaciones</p>
    {% endfor %}
  </ul>
  <a href="{% url 'post_create' %}" class="btn btn-success">Crear nueva publicación</a>
  <a href="{% url 'pyducation' %}" class="btn btn-secondary">Atrás</a>
{% endblock %}
