{% extends 'PyDucation/base.html' %}

{% block content %}
  <h1>Lista de Funciones</h1>
  <ul class="list-group">
    {% for function in functions %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <h5>{{ function.name }}</h5>
          <div>
            <a href="{% url 'function_update' function.pk %}" class="btn btn-primary btn-sm">Editar</a>
            <a href="{% url 'function_delete' function.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
          </div>
        </div>
        <p class="mb-0" style="white-space: pre-wrap;"><strong>Descripción:</strong> {{ function.description }}</p>
        <p class="mb-0" style="white-space: pre-wrap;"><strong>Ejemplo:</strong> {{ function.example }}</p>
      </li>
    {% empty %}
      <li class="list-group-item">No hay funciones todavía.</li>
    {% endfor %}
  </ul>
  <br>
  <a href="{% url 'function_create' %}" class="btn btn-success">Agregar Función</a>
  <a href="{% url 'pyducation' %}" class="btn btn-secondary">Atrás</a>
{% endblock %}
