{% extends 'PyDucation/base.html' %}

{% block content %}
    <h1>Ejercicios Fáciles</h1>
    <p>En esta sección encontrarás ejercicios de nivel fácil para practicar tus habilidades en Python:</p>
    <ol>
        <li>
            <p>Escribir un programa que muestre por pantalla la cadena ¡Hola Mundo!.</p>
            <pre><code>print("¡Hola Mundo!")</code></pre>
        </li>
        <li>
            <!-- Ejercicio 2 -->
        </li>
        <li>
            <!-- Ejercicio 3 -->
        </li>
        <li>
            <!-- Ejercicio 4 -->
        </li>
        <li>
            <!-- Ejercicio 5 -->
        </li>
        <li>
            <!-- Ejercicio 6 -->
        </li>
        <li>
            <!-- Ejercicio 7 -->
        </li>
        <li>
            <!-- Ejercicio 8 -->
        </li>
        <li>
            <!-- Ejercicio 9 -->
        </li>
        <li>
            <!-- Ejercicio 10 -->
        </li>
    </ol>
{% endblock %}

