{% extends 'PyDucation/base.html' %}

{% block content %}
  <section id="about">
    <div class="container">
      <h2>Acerca del Autor</h2>
      <div class="row">
        <div class="col-md-6">
          <p>Soy Andrés Villante Berteel, fundador de este proyecto educativo enfocado en la enseñanza de la programación con Python. Tengo 18 años y actualmente estoy cursando séptimo año en el colegio Emaús para recibirme como técnico electromecánico. Además, estoy cursando en el Liceo Cultural Británico para recibir mi título de FCE (First Certificate in English).</p>
          <p>Desde muy joven, he sentido una gran pasión por la tecnología y la programación. A lo largo de los años, he trabajado en proyectos personales y he asistido a cursos y talleres para mejorar mis habilidades.</p>
          <p>Tengo el objetivo de estudiar ingeniería informática en la universidad para seguir expandiendo mis conocimientos y habilidades en el campo de la tecnología. Creo que esta carrera me dará la oportunidad de trabajar en proyectos innovadores y hacer una contribución significativa al mundo de la tecnología.</p>
          <p>En resumen, estoy muy comprometido con la educación y la tecnología, y creo que la programación es una habilidad fundamental que todos deberían tener. Con PyDucation, espero poder compartir mi pasión y conocimientos con la comunidad, y ayudar a que más personas puedan aprovechar al máximo el poder de la programación.</p>
          <p>¡Gracias por formar parte de este proyecto educativo! Juntos, podemos lograr grandes cosas y hacer una diferencia en el mundo de la tecnología.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
