{% extends 'PyDucation/base.html' %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Bienvenidos a PyDucation</h1>
      <p class="lead">Somos una plataforma educativa enfocada en enseñar programación y tecnología de manera práctica y efectiva. Nuestro objetivo es ayudar a las personas a adquirir las habilidades necesarias para destacar en la industria tecnológica, especialmente en el ámbito de la programación en Python.</p>
      <p class="lead">Con nuestro enfoque amigable y accesible, aprenderás no solo los fundamentos de Python, sino también sus aplicaciones prácticas en el mundo real. Desde la programación de aplicaciones de escritorio hasta el desarrollo web y la ciencia de datos, en PyDucation tenemos todo lo que necesitas para iniciarte en la programación con Python y llevar tus habilidades al siguiente nivel.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Regístrate</a>
    </div>
  </div>
{% endblock %}
