{% extends 'PyDucation/base.html' %}

{% block content %}
  <section class="jumbotron bg-light text-dark text-center">
    <div class="container">
      <h1 class="display-4">¡Bienvenido a Pyducation, {{ user.username }}!</h1>
      <p class="lead">En Pyducation tienes acceso a una gran variedad de recursos para mejorar tus habilidades de programación en Python. Puedes explorar nuestros tutoriales sobre tipos de datos, operadores matemáticos y funciones para aprender los fundamentos de Python y cómo aplicarlos en la vida real. Además, también puedes visitar nuestro foro de ayuda para recibir apoyo de otros miembros de la comunidad y compartir tus conocimientos con otros usuarios. Y si estás buscando un desafío, prueba nuestros ejercicios prácticos para poner en práctica lo que has aprendido. En Pyducation, estamos aquí para ayudarte a convertirte en un programador experto en Python. ¡Aprovecha al máximo nuestros recursos y disfruta aprendiendo!</p>
    </div>
  </section>

  <div class="container my-5">
    <h2 class="text-center mb-5">Explora nuestros recursos</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Tipos de datos</h3>
            <p class="card-text">Aprende sobre los diferentes tipos de datos en Python y sus características.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'data_type_list' %}" class="btn btn-primary w-100">Explorar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Operadores matemáticos</h3>
            <p class="card-text">Descubre cómo realizar operaciones matemáticas en Python.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'math_operator_list' %}" class="btn btn-primary w-100">Explorar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Funciones</h3>
            <p class="card-text">Aprende a hacer uso de las diferentes funciones de Python.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'function_list' %}" class="btn btn-primary w-100">Explorar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Ejercicios</h3>
            <p class="card-text">¡Atrévete a desafiarte y verás cuánto puedes aprender mientras resuelves estos ejercicios!</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'exercise_list' %}" class="btn btn-primary w-100">Explorar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Foro de Ayuda</h3>
            <p class="card-text">Comparte tus dudas y conocimientos con nuestra comunidad en el foro de ayuda de Pyducation</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'post_list' %}" class="btn btn-primary w-100">Explorar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}