{% extends 'PyDucation/base.html' %}

{% block content %}
  <h1>Tipos de Datos en Python</h1>
  <p>Los tipos de datos en Python son esenciales para almacenar información en nuestros programas. Cada tipo de dato tiene una función y propósito específicos. Es importante entenderlos para poder utilizarlos correctamente y sacar el máximo provecho de Python como lenguaje de programación.</p>
  <p>Los tipos de datos en Python se dividen en tres categorías: numéricos, secuenciales y booleanos. Los tipos numéricos incluyen enteros e números de punto flotante, los secuenciales incluyen cadenas, listas y tuplas, y los booleanos solo tienen dos posibles valores: Verdadero o Falso.</p>
  <p>A medida que vayas aprendiendo Python, comprender cómo se utilizan y manipulan estos diferentes tipos de datos te ayudará a resolver problemas y crear programas más complejos y útiles.</p>
  <table class="table">
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Descripción breve</th>
          <th>Acciones</th>
      </tr>
  </thead>
  <tbody>
      {% for data_type in data_types %}
          <tr>
              <td><strong>{{ data_type.name }}</strong></td>
              <td>{{ data_type.detailed_description }}</td>
              <td>
                  <a href="{% url 'data_type_detail' pk=data_type.pk %}" class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i> Detalles</a>
                  <a href="{% url 'data_type_update' pk=data_type.pk %}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i> Editar</a>
                  <form action="{% url 'data_type_delete' pk=data_type.pk %}" method="post" class="d-inline" id="delete-form">
                      {% csrf_token %}
                      <a href="{% url 'data_type_delete' data_type.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                  </form>
              </td>
          </tr>
      {% empty %}
          <tr>
              <td colspan="3">No se encontraron tipos de datos.</td>
          </tr>
      {% endfor %}
  </tbody>
  </table>
  <p>Si encuentras algún error o tienes sugerencias para mejorar esta sección, por favor háznoslo saber. También, si tienes conocimientos sobre otros tipos de datos en Python que consideras importantes y que no están incluidos aquí, ¡estamos encantados de recibir tus contribuciones y hacer crecer juntos la comunidad de PyDucation!</p>
  <a href="{% url 'data_type_create' %}" class="btn btn-success"><i class="fas fa-plus"></i> Agregar nuevo tipo de dato</a>
  <a href="{% url 'pyducation' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Atrás</a>
{% endblock %}
