{% extends 'PyDucation/base.html' %}
{% load widget_tweaks %}

{% block content %}
  <h1>Actualizar tipo de dato</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.name.id_for_label }}">Nombre:</label>
      {% render_field form.name class+="form-control" %}
    </div>
    <div class="form-group">
      <label for="{{ form.description.id_for_label }}">Descripción:</label>
      {% render_field form.description class+="form-control" rows="3" %}
    </div>
    <div class="form-group">
      <label for="{{ form.detailed_description.id_for_label }}">Descripción breve:</label>
      {% render_field form.detailed_description class+="form-control" %}
    </div>
    <div class="form-group">
      <label for="{{ form.example.id_for_label }}">Ejemplo:</label>
      {% render_field form.example class+="form-control" rows="3" %}
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    <a href="{% url 'data_type_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}
