{% extends 'PyDucation/base.html' %}

{% block content %}
  <h1>Tipos de Datos en Python</h1>
  <ul>
    {% for data_type in data_types %}
  <li>
    <a href="{% url 'data_type_detail' pk=data_type.pk %}">{{ data_type.name }}</a>
    
{% empty %}
  <li>No data types yet.</li>
{% endfor %}
</ul>
<p>Si eres un programador experimentado y te gustaría ayudar a la comunidad de PyDucation, puedes contribuir con tu conocimiento añadiendo más tipos de datos en Python que no estén en la lista. Si bien esta lista contiene los tipos de datos más comunes, siempre hay más por aprender y descubrir. Además, si encuentras algún error o inexactitud en la lista, por favor, haznoslo saber para que podamos actualizarla. 
<p>Juntos podemos hacer de PyDucation un recurso aún más valioso para la comunidad de programadores de Python.</p>
<a href="{% url 'data_type_create' %}">Crear nuevo tipo de dato</a>
<br>
<a href="{% url 'pyducation' %}">Atrás</a>

{% endblock %}


